{% extends "base.html" %}
{% block title %}Product: {{ object.theme }}{% endblock %}
{% block content %}
    <section>
        <p><a href="{% url 'index' %}">Back to index</a></p>
        <p>Post: {{ object.theme }}</p>
        <div>Rating: {{ object.rate }}</div>
        <div>Description: {{ object.message }}</div>
        <div>Comments:</div>
        {% for p in comments %}
            <div>{{ p.user }}:
                {{ p.message }}</div>
        {% endfor %}
    <button id="authbut" type="button" class="btn btn-default" href="{% url 'addComment' slug=object.slug %}" data-toggle="modal" data-target="#modal" title="Add Comment" data-tooltip class="fa fa-pencil">Add Comment</button>
    <form id="comment_form" name="addComment" method='post' class="form" role="form" action="{% url 'addComment' object.slug %}">
        <div class="modal-header">
            <h4 class="modal-title" id="loginModalLabel">Add Comment</h4>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.message.label_tag }} {{ form.message }}
            </div>
            <div class="form-group">
                {{ form.post.label_tag }} {{ form.post }}
            </div>
             <div class="form-group">
                {{ form.user.label_tag }} {{ form.user }}
            </div>

             <div class="form-group">
                {{ form.rate.label_tag }} {{ form.rate }}
            </div>
                <input type="submit" id="login_update" class="btn btn-primary" value="Add Comment"/>
            </div>
        </div>
    </form>

    </section>
{% endblock %}
